<article id="{{ include.panel.html_id }}" class="panel {{ include.panel.class | default: 'secondary' }}">

	{% if include.panel.image %}
		<div class="image">
			<img src="{{ site.baseurl }}{{ include.panel.image }}" alt="" data-position="{{ include.panel.position }}" />
		</div>
	{% endif %}

	<div class="content">

		{% unless include.panel.class == "special" %}
			<ul class="actions spinX">
				<li><a href="#home" class="button small back">Back</a></li>
			</ul>
		{% endunless %}

		<div class="inner">
			{{ include.panel.output }}
		</div>
	</div>
</article>